@font-face {
  font-family: Montserrat-SemiBold;
  src: url(fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(fonts/Montserrat-ExtraBold.ttf);
}

body {font-family:Montserrat-SemiBold, Montserrat-Medium, Montserrat-Regular, Montserrat-Bold, Montserrat-Black, Montserrat-ExtraBold;
    background-color:#FFE3E3;
	width: 100%;
  margin: 0px auto;
  align-items:center;
	/* min-width:1300px; */
  /* max-width: 100%; */
  overflow-x: hidden;
}
#nav {
  font-family:Montserrat-SemiBold;
  font-size: 13.5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  background-color: #FFE3E3;
  margin-left: 0px;  
}
#nav li {
 display: inline-block;
 text-align:center; 
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  text-align:center;
  color: #111;
   }
#nav li a:hover {
  background-color: #FFE3E3;
  text-decoration:underline;
}
#nav .active { 
  text-decoration: underline; 
} 
#nav  .cart-image img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
#nav  .logo-image img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -25px;
}
  /* End navigation bar styling. */

footer {
  position: relative;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 300px;
  background-color: #292121;
  color: white;
  text-align: center;
}

.logo-image-round img{
  position: relative;
  left: 25%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30%;
}

.contact {
  position: relative;
  /* display: inline-block; */
  left: 28%;
  /* width: 60%; */
  height: 200px;
  margin-top: 1.5%;
  
  /* bottom: 40%; */
}

.contact #contact-title {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  text-decoration: underline;
}

/* .contact #contact-text {
  font-family: Montserrat-Regular;
  font-size: 13px;
  align-items: flex-start;
} */

.contact #icon-image {
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  overflow: hidden;
}

.contact ul {
  list-style: none;
  font-family: Montserrat-Regular;
  font-size: 13px;
  text-align: left;
}

.contact #contact-email {
  font-family: Montserrat-Regular;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.contact #copyright {
  position: relative;
  top: 35%;
  right: 35%;
  /* left: -10%; */
  font-family: Montserrat-Regular;
  font-size: 11px;
  text-align: center;
  color: white;
}
/* End footer styling. */

.banner {
  background-color: white;
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0px;
}


#headingtext {
	font-family: Montserrat-ExtraBold;
	font-style: normal;
	color: #000000;
	font-weight: 800;
	font-size: 55px;
	text-align:center;
	position:relative;
}
#headingtext p {
  font-family: Montserrat-Medium;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
}
#content {
	font-family: Montserrat-SemiBold;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
#content img{
	margin-left: 250px;
}
#content form{
	position: static;
	text-align: left;
}
#content input[type=text],input[type=email],textarea{
	font-family: Montserrat-Regular;
	font-style: inherit;
	font-size: 16px;
	line-height: 30px;	
}	
#content input[type=text]:focus,input[type=email]:focus,textarea:focus {
  border: 3px solid #555;
}
#content input[type=submit],input[type=reset]{
	font-family: inherit;
	font-style: inherit;
	font-weight: 550;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	background-color: #292121;
	width:230px;
	height:50px;
}
